.sidebar {
    position: absolute;
    top: 120px;
    left: 10px;
    padding: 12px;
    bottom: 0;
    width: 300px;
    border-top: 0.8px solid blue;

}

.sidebar_navigation {
    padding: 16px 0 0 16px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 10px 10px 10px;

}

.sidebar ul li {
    padding: 1px 0;
    list-style: none;

}

.sidebar nav ul li p {
    color: #0f0f0f;
    text-decoration: none;
    font-weight: 600;
    font-size: 28px;
}

.sidebar nav ul li p a {
    color:#002D62;
    text-decoration: none;
    padding: 16px 28px 10px 20px;
    font-weight: 600;
    font-size: 28px;
    font-family: "DM Sans", sans-serif;

}

.search {
    display: flex;
    align-items: center;
    width: 324px;
    height: 36px;
    margin-left: 8px;
    border-radius: 500px;
    border: 1px transparent;
    color: #0f0f0f;

}

.search img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    
}

.search input {
    background: transparent;
    border: none;
    padding: 0px 100px 0px 12px;
    color: #0f0f0f ;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;

}
